<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dreamhome</title>
    <link rel="stylesheet" href="./css/syile.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-menu">
                <img src="./images/Group 22 (3).svg" alt="menu btn" />
            </span>
        </div>
    </header> 
    
    <main>
        <section class="mobile-block">
            <div class="container">
                <div class="category-house-row">
                    <div class="house-item">
                        <img src="./images/category/icon1.png" alt="home1"class="category-item__img"/>
                        <span class="category-item__title">"Grand Residence"</span>
                    </div>
                    <div class="category-house-row">
                        <div class="house-item">
                            <img src="./images/category/icon2.png" alt="home2"class="category-item__img"/>
                            <span class="category-item__title">"Summit Mansion"</span>
                    </div>
                    <div class="house-item">
                        <img src="./images/category/icon3.png" alt="home3"class="category-item__img"/>
                        <span class="category-item__title">"Elegance Villa"</span>
                    </div>
                    <div class="category-house-row">
                        <div class="house-item">
                            <img src="./images/category/icon4.png" alt="home4"class="category-item__img"/>
                            <span class="category-item__title">"White Park Estate"</span>
                    </div>
                    <div class="house-item">
                        <img src="./images/category/icon5.png" alt="home5"class="category-item__img"/>
                        <span class="category-item__title">"Forest Rhapsody House"</span>
                    </div>
                    <div class="category-house-row">
                        <div class="house-item">
                            <img src="./images/category/icon6.png" alt="home6"class="category-item__img"/>
                            <span class="category-item__title">"Forest Rhapsody House"</span>
                    </div>
                </div>
            </div>
        </section>
    </main>       
</body>
</html>
