<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dreamhome</title>
    <link rel="stylesheet" href="./css/syile.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-menu">
                <img src="./images/Group 22 (3).svg" alt="menu btn" />
            </span>
        </div>
    </header> 
    
    <main>
        <section class="mobile-block">
            <div class="container">
                <h3 class="contact-title">Благодарим вас!</h3>
                <div class="contacts-details">
                    <p> В течении 10 минут
                    с вами свяжется наш менеджер </p>
                    <button class ="glav">На главную</button>
                 </div>
                  <div class="contacts-description">
                     Элитные дома
                      стиль жизни, доступный вам!
                </div>
            </div>
        </section>
    </main>       
</body>
</html>