<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dreamhome</title>
    <link rel="stylesheet" href="./css/syile.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-menu">
                <img src="./images/Group 22 (3).svg" alt="menu btn" />
            </span>
        </div>
    </header> 
    
    <main>
        <section class="mobile-block">
            <div class="container">
                <div class="category-house-row">
                    <div class="house-item">
                        <img src="./images/category/kvar1.png" alt="kvar1"class="category-item__img"/>
                        <span class="category-item__title">"Serenity Heights"</span>
                    </div>
                    <div class="category-house-row">
                        <div class="house-item">
                            <img src="./images/category/kvar2.jpg" alt="kvar2"class="category-item__img"/>
                            <span class="category-item__title">"Urban Vista"</span>
                    </div>
                    <div class="house-item">
                        <img src="./images/category/kvar3.png" alt="kvar3"class="category-item__img"/>
                        <span class="category-item__title">"The Horizon Loft"</span>
                    </div>
                    <div class="category-house-row">
                        <div class="house-item">
                            <img src="./images/category/kvar4.png" alt="kvar4"class="category-item__img"/>
                            <span class="category-item__title">"Crystal Bay Residences"</span>
                    </div>
                    <div class="house-item">
                        <img src="./images/category/kvar5.png" alt="kvar5"class="category-item__img"/>
                        <span class="category-item__title">"Golden Gate Apartments"  </span>
                    </div>
                    <div class="category-house-row">
                        <div class="house-item">
                            <img src="./images/category/kvar6.png" alt="kvar6"class="category-item__img"/>
                            <span class="category-item__title">"Parkside Haven"</span>
                    </div>
                </div>
            </div>
        </section>
    </main>       
</body>
</html>
