<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dreamhome</title>
    <link rel="stylesheet" href="./css/syile.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-menu">
                <img src="./images/Group 22 (3).svg" alt="menu btn" />
            </span>
        </div>
    </header> 
    


    <main>
        <section class="contact-form-section">
            <div class="container">
                <form class="contact-form">
                    <span for="email" class="vse-span">Введите ваш email:</span>
                    <input type="email" id="email" name="email" placeholder="Email" required class="vse">
                    <button type="submit" class="vse-button">Отправить</button>
                </form>
            </div>
                <form class="contact-form">
                    <span for="phone" class="vse-span">Введите ваш номер телефона:</span>
                    <input type="phone" id="phone" name="phone" placeholder="87070000000" required class="vse">
                    <button type="submit" class="vse-button">Отправить</button>
                </form>
                <form class="contact-form">
                    <span for="phone" class="vse-span">Введите ваше Ф.И.О:</span>
                    <input type="phone" id="phone" name="phone" placeholder="Ф.И.О" required class="vse">
                    <button type="submit" class="vse-button">Отправить</button>
                </form>
            </div>
            </div>
        </section>
    </main>
</body>
</html>