<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dreamhome</title>
    <link rel="stylesheet" href="./css/syile.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-menu">
                <img src="./images/Group 22 (3).svg" alt="menu btn" />
            </span>
        </div>
    </header> 
    
    <main>
        <section class="mobile-block">
            <div class="back-button">
                <div class="container">
                    <img src="./images/кнопка назад (1).svg" alt="back icon"/>

                </div>
            </div>
            <div class="container">
                <div class="house-detail-block">
                    <h3 class="house-card__title">"Elegance Villa"</h3>
                    <p class="decription">Elegance Villa — образец утончённой роскоши и современного дизайна. Этот величественный особняк площадью 800 м² предлагает 7 изысканных спален, просторную гостиную с панорамными окнами и кухню премиум-класса. Великолепные террасы и живописный сад с элегантным бассейном создают идеальное пространство для отдыха и развлечений, обеспечивая максимальный комфорт и удовольствие от жизни.
                    </p>
                    <img src="./images/Rectangle 19.png" alt="name"/>
                    <span class="author">Цена: $11.111.111</span>
                    <button class="tag-button">Связаться</button>
            </div>
        </section>
    </main>       
</body>
</html>